.wraper {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.background {
	background: #39b1a4;
}
.header {
	background: #dc4d38;
	border-radius: 10px;
	margin-bottom: 1px;
}
.cont_left {
	background: #dc4d38;
	border-radius: 10px;
	margin-bottom: 1px;
}
.cont_right {
	background: #dc4d38;
	border-radius: 10px;
	margin-bottom: 1px;
}
.footer {
	background: #dc4d38;
	border-radius: 10px;
}
p{
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 15px;
	margin-left: 15px;
	text-align: justify;
}
ul.menu {
	list-style-type: none;
	margin-bottom: 1px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}
li.list {
	display: inline;
}
li.list a {
	text-decoration: none;
	text-align: justify;
	text-transform: uppercase;
	font-size: 125%;
	font-weight: bold;
}